@model IEnumerable<WebGymTrivelloniBattaglioli.Models.ContrattoModel>

@{
    ViewBag.Title = "ChooseContract";
}

<head>
    <title>Conferma i tuoi dati</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
</head>

<table class="table">
    <tr>
        <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center;">
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center;">
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center;">
            @Html.DisplayNameFor(model => model.Durata)
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center;">Scelta</th>
    </tr>

    @foreach (var item in Model)
    {
        using (Html.BeginForm("SceltaContrattoUtente", "Home"))
        {
            @Html.AntiForgeryToken()
            <tr>
                <td style="font-size: 14px; font-weight: 400; color: #232d39;">
                    <!--INPUT NASCOTI PER PRELEVARI I VALORI NECESSARI CHE POI VERRANNO MANDATI AL CLICK DELL'IMMAGINE AL CONTROLLER'-->
                    <input value="@item.Id" name="Id" style="display:none" />
                    @Html.DisplayFor(modelItem => item.Descrizione)
                </td>
                <td style="font-size: 14px; font-weight: 400; color: #232d39; text-align: center;">
                    @Html.DisplayFor(modelItem => item.Prezzo)
                </td>
                <td style="font-size: 14px; font-weight: 400; color: #232d39; text-align: center;">
                    @Html.DisplayFor(modelItem => item.Durata)
                </td>
                <!--METTERE MAGARI UNA PICCOLA IMMAGINE CON LA SPUNTA O CHECK BUTTON PER EFFETTUARE LA SCELTA-->
                <td style="font-size: 14px; font-weight: 400; color: #232d39; text-align: center; ">
                    <button type="submit"><img src="\Images\confirm.png" style="height:20px;width:20px;" /></button>
                </td>
            </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("back", "Registrati", "Home")
</p>
