@model WebGymTrivelloniBattaglioli.Models.ClienteModel

@{
    ViewBag.Title = "ConfirmUserData";
}

<h2>ConfirmUserData</h2>

<div>
    <h4>ClienteModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data_nascita)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data_nascita)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Confirm", "InserisciClientedb", "Home") |
    @Html.ActionLink("Back to List", "Registrazione","Home")
</p>
