@model dynamic

@{
    Layout = null;
}

<html>
<head>
    <title>Inserisci Esercizi nella Scheda</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
    <script language="javascript">
        class Esercizio {
            constructor(descrizione, immagine) {
                this.descrizione = descrizione;
                this.immagine = immagine;
            }
        }
        function disableInput() {
            var select = document.getElementById("esercizio_select");
            var select_image = document.getElementById("immagine_select");
            console.log(select.value);
            if (select.value != "NULL") {
                select_image.selectedIndex = select.selectedIndex;
                var input_descrizione = document.getElementById("Descrizione");
                input_descrizione.setAttribute("readonly", "");
                input_descrizione.value = select.value;
                var input_immagine = document.getElementById("Immagine");
                input_immagine.setAttribute("readonly", "");
                input_immagine.value = select_image.value;
            }
            else {
                var input_descrizione = document.getElementById("Descrizione");
                input_descrizione.removeAttribute("readonly");
                var input_immagine = document.getElementById("Immagine");
                input_immagine.removeAttribute("readonly");
            }
        }
    </script>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>Aggiungi esercizi alla<em> scheda</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @using (Html.BeginForm("AddEsercizioScheda", "Home"))
    {
        @Html.AntiForgeryToken()
     
<div class="form-horizontal" style="float: left; width: 50%; margin-left: 10%; margin-top: 3%;">
    <h1 style="font-size: 20px; font-weight: 700; color: #232d39; margin-bottom: 5%;" >Crea un nuovo esercizio</h1>
    <hr style="margin-left: 0px; width: 40%;margin-top:-30px" />
    <div class="form-group" style="margin-left:2%">
        <h4 style="font-size: 20px; font-weight: 700; color: #232d39;">Descrizione</h4>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire la descrizione dell'esercizio" id="Descrizione" name="Descrizione" type="text" value="" style="width:40%">
        </div>
    </div>
    <div class="form-group" style="margin-left:2%">
        <h4 style="font-size: 20px; font-weight: 700; color: #232d39;">URL Immagine</h4>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire l'URL dell'immagine" id="Immagine" name="Immagine" type="text" value="" style="width:40%">
        </div>
    </div>
    
    <h1 style="font-size: 20px; font-weight: 700; color: #232d39; margin-bottom: 2%;margin-top:5%">Oppure scegli tra gli esercizi gia' presenti</h1>
    <hr style="margin-left: 0px; width: 40%; "/>
    <select name="esercizio_select" id="esercizio_select" onChange="disableInput()" style="width: 60%;">
        <option value="NULL">none</option>
        @foreach (var esercizio in Model.EserciziDisponibili)
        {
            <option value="@esercizio.Descrizione">@esercizio.Descrizione</option>
        }
    </select>
    <select name="immagine_select" id="immagine_select" style="display:none">
        <option value="NULL">none</option>
        @foreach (var esercizio in Model.EserciziDisponibili)
        {
            <option value="@esercizio.Immagine">@esercizio.Immagine</option>
        }
    </select>
</div>
<div class="form-horizontal" style="float: left;margin-top: 3%;">
    <div class="form-group" style="margin-left:2%">
        <h4 style="font-size: 20px; font-weight: 700; color: #232d39;">Numero Ripetizioni</h4>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" min="1" data-val-required="Devi inserire il numero di ripetizioni" id="Num_ripetizioni" name="Num_ripetizioni" type="number" value="">
        </div>
    </div>
    <div class="form-group" style="margin-left:2%">
        <h4 style="font-size: 20px; font-weight: 700; color: #232d39;">Tempo di recupero (secondi)</h4>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" min="30" data-val-required="Devi inserire il tempo di recupero" id="Recupero" name="Recupero" type="number" value="">
        </div>
    </div>
    <div class="form-group" style="margin-left:2%">
        <h4 style="font-size: 20px; font-weight: 700; color: #232d39; ">Commento esecuzione esercizio</h4>
        <div class="col-md-10">
            <input class="form-control text-box single-line" id="Commento" name="Commento" type="text" value="">
        </div>
    </div>
    <input style="display:none;" value="@Model.Id_scheda" name="id_scheda" />
</div>
    <div class="form-group" style="margin-left:2%">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Aggiungi" class="btn btn-default" style="color: white; background-color: #ed563b; display: inline-block; font-size: 13px; padding: 11px 17px; text-align: center; font-weight: 400; border: none; outline: none; margin-top: -8px; " />
        </div>
    </div>

    }
    <div style="margin-left: 45%; margin-top: 10%;">
    @using (Html.BeginForm("ConfirmScheda", "Home"))
    {
        @Html.AntiForgeryToken()
        <div class="form-group" style="margin-left:2%">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Conferma" class="btn btn-default" style="color: white; background-color: #ed563b; display: inline-block; font-size: 13px; padding: 11px 17px; text-align: center; font-weight: 400; border: none; outline: none; margin-top: -8px; " />
            </div>
        </div>
    }
    </div>
    @if (Model.Esercizi != null)
    {
        int i = 0;
        <table class="table" style="margin-top:3%;">
            <tr>
                <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align:center;">
                    Titolo scheda
                </th>
                <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                    Durata scheda
                </th>
                <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                    Scheda attualmente in uso
                </th>
                <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                    Commento
                </th>
                <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                    Immagine
                </th>
            </tr>
            @foreach (var esercizio in Model.Esercizi)
            {
                <tr>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        @esercizio.Descrizione
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align:center;">
                        @Model.CaratteristicheEsercizi[@i].Numero_ripetizioni
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        @Model.CaratteristicheEsercizi[@i].Recupero
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        @Model.CaratteristicheEsercizi[@i].Commento
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        <img src="@esercizio.Immagine" style="height:100px;width:100px" />
                    </td>
                </tr>
                i++;
            }
        </table>
    }
</body>
</html>
