@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreazioneSchedaEsercizi</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("AddEsercizioScheda", "Home"))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Aggiunta degli esercizi alla scheda</h4>
            <hr />
            <div class="form-group">
                Descrizione
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire la descrizione dell'esercizio" id="Descrizione" name="Descrizione" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                Numero ripetizioni
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire il numero di ripetizioni" id="Num_ripetizioni" name="Num_ripetizioni" type="number" value="">
                </div>
            </div>
            <div class="form-group">
                Tempo di recupero(secondi)
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire il tempo di recupero" id="Recupero" name="Recupero" type="number" value="">
                </div>
            </div>
            <div class="form-group">
                Commento esecuzione esercizio
                <div class="col-md-10">
                    <input class="form-control text-box single-line" id="Commento" name="Commento" type="text" value="">
                </div>
            </div>
            <div class="form-group">
                URL immagine
                <div class="col-md-10">
                    <input class="form-control text-box single-line" data-val="true" data-val-required="Devi inserire l'URL dell'immagine" id="Immagine" name="Immagine" type="text" value="">
                </div>
            </div>
            <input style="display:none;" value="@Model.Id_scheda" name="id_scheda" />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aggiungi" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Conferma", "Index")
    </div>
</body>
</html>
