@model dynamic

    @{Layout = null;}
    <html>
    <head>

        <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
        <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
        <title>Riepilogo Clienti</title>
    </head>

    <body>
        <section class="section" id="call-to-action">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="cta-content">
                            <h2>Riepilogo<em> Clienti</em></h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <center>
            @{
                if(Model.Clienti.Count != 0)
                {
                <table style="margin-bottom: 5%; margin-top: 3%; margin-left: auto; margin-right: auto; border-spacing: 30px; border-collapse: separate;">
                    <tr>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Nome</td>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Cognome</td>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Email</td>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Telefono</td>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Aggiungi scheda</td>
                        <td style="font-size: 20px; font-weight: 700; color: #ed563b; text-align:center;">Scadenza Scheda</td>
                    </tr>

                    @{int i = 0;
                    foreach (var item in Model.Clienti)
                    {
                    using (Html.BeginForm("IniziaCreazioneScheda", "Home"))
                    {
                    <tr>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: left; ">
                            @item.Nome
                        </td>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center; ">
                            @item.Cognome
                        </td>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center; ">
                            @item.Email
                            <input style="display:none;" name="email" id="email" value="@item.Email" />
                        </td>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center; ">
                            @item.Telefono
                        </td>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: left; ">
                            <button type="submit" style="margin-left:40%"><img src="../Images/plusButton.png" style="height:20px;width:20px;" /></button>
                        </td>
                        <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center; ">
                            @{if(Model.Scaduti[i])
                                        {
                                <img src="../Images/attenzione.png" style="width:40px; height:35px;" />
                                        }
                            }
                        </td>
                    </tr>
                    }
                    }
                    }
                </table>
                    }
            
            else
                {
                    <h2 style="font-size: 20px; font-weight: 500; color: #232d39; display: inline;">Per il momento non hai clienti assegnati. Resta in attesa di nuove richieste!</h2>
                }
        }
        </center>

    <center>
            @using (Html.BeginForm("TornaAllaHome", "Home"))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Torna alla home" style="color: white; background-color: #ed563b; display: inline-block; font-size: 13px; padding: 11px 17px; text-align: center; font-weight: 400; border: none; outline: none; margin-top: 30px; " />
            }
        </center>
    </body>
</html>
