@model IEnumerable<WebGymTrivelloniBattaglioli.Models.SchedaModel>

@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Archivi Schede</title>
    <link rel="stylesheet" type="text/css" href="../Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../Content/font-awesome.css">
    <link rel="stylesheet" href="../Content/templatemo-training-studio.css">
</head>
<body>
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>ARCHIVIO<em> SCHEDE</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if(Model != null)
    {
<table class="table" style="margin-top:3%;">
    <!--
    <tr>
        <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align:center;">
            Titolo scheda
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
            Durata scheda
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
            Scheda attualmente in uso
        </th>
        <th style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
            Dati allenatore
        </th>
    </tr>-->

    @foreach (var item in Model) {
    <tr>
        <td style="font-size: 20px; font-weight: 700; color: #232d39;">
            <p>Titolo scheda:</p>@Html.DisplayFor(modelItem => item.Titolo)
        </td>
    </tr>
    <tr>
        <td style="font-size: 20px; font-weight: 700; color: #232d39;">
            <p>Durata scheda(mesi):</p>@Html.DisplayFor(modelItem => item.Durata)
        </td>
    </tr>
    <tr>
        <td style="font-size: 20px; font-weight: 700; color: #232d39;">
            <p>Scheda attualmente in uso:</p>@Html.DisplayFor(modelItem => item.In_uso)
        </td>
    </tr>
    <tr>
        <td style="font-size: 20px; font-weight: 700; color: #232d39;">
            <p>Dati allenatore:</p>
            @Html.DisplayFor(modelItem => item.Trainer.Nome)
            @Html.DisplayFor(modelItem => item.Trainer.Cognome)<br />
            Mail: @Html.DisplayFor(modelItem => item.Trainer.Email)
        </td>
    </tr>
        <!--aggiungere nella tabella dati ogni esercizio, tabelle nidificate-->
        <td>
            <table class="table">
                <h2 align="center">Dettagli esercizi</h2>
                <tr>
                    <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center; ">
                        Descrizione
                    </th>
                    <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center; ">
                        Numero ripetizioni
                    </th>
                    <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center; ">
                        Tempo di recupero
                    </th>
                    <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center; ">
                        Commenti sull'esecuzione dell'esercizio
                    </th>
                    <th style="font-size: 20px; font-weight: 700; color: #ed563b; text-align: center; ">
                        Vedi esecuzione
                    </th>
                </tr>
                @{
                        int @i = 0;
                }
                @foreach (var ese in item.Esercizi)
                    {
                <tr>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39;">
                        @Html.DisplayFor(modelItem => ese.Descrizione)
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align:center;">
                        @item.Caratteristiche_esercizi[@i].Numero_ripetizioni
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        @item.Caratteristiche_esercizi[@i].Recupero
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39;">
                        @item.Caratteristiche_esercizi[@i].Commento
                    </td>
                    <td style="font-size: 20px; font-weight: 700; color: #232d39; text-align: center;">
                        <img src="@Html.DisplayFor(modelItem => ese.Immagine)" style="height:100px;width:100px" />
                    </td>
                </tr>
                        i++;

                    }
            </table>
            <img src="../Images/barra_spaziatrice.png" width="100%" height="30px"/>
        </td>
  
        }

</table>
    }
    else
    {
    <h1>Non ti sono ancora state assegnata schede dai nostri personal trainer</h1>
    @Html.ActionLink("Indietro","Index","Home")
    }
</body>
</html>
