@model WebGymTrivelloniBattaglioli.Models.SchedaModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowScheda</title>
</head>
<body>
    <center>
        <div>
            <h4>Dettagli scheda</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Titolo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Titolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Durata)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Durata)
                </dd>
            </dl>
        </div>
        <h4>Lista esercizi</h4>
        <table border="0" margin-left:auto; margin-right:auto;>
            <tr>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </center>
    <p>
        @Html.ActionLink("Indietro", "MainPageClient")
    </p>
</body>
</html>
